* {
  margin: 0;
  padding: 0;
}

.left {
  color: black;
}

ul {
  color: black;
}

ul a:hover {
  color: pink;
}

nav {
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 20px;
  z-index: 1;
}

.library {
  color: red;
}
